body {
	font-size: 10px;
	font-family: 'Operator Mono', sans-serif;
	font-weight: 400;
	/* background-color: black; */
	background-color: rgba(38, 38, 38, 0.9);
	height: 100%;
	margin: 25px;
}
/* body {
				margin: 0;
				font-family: 'Helvetica Neue', sans-serif;
				background-color: rgba(238, 238, 238, 0.9);
			} */

svg {
	background-color: rgba(38, 38, 38, 0.9);
	/* margin: 0 auto; */
	margin: 30px;
	padding: 10vw;
	display: table;
	border: 1px solid cyan;
}

.area {
	fill: steelblue;
	fill-opacity: 0.3;
	stroke: cyan;
	stroke-width: 2px;
}

.tick circle {
	fill: none;
	/* stroke: #888; */
	stroke: snow;
}

.tick line {
	stroke: white;
	/* stroke: snow; */
	stroke: #888;
}

.tick text {
	stroke: snow;
	font-size: 12px;
	text-anchor: middle;
}

#weatherRadial {
	/* background-color: snow; */
	/* background-color: rgb(187, 186, 186); */
	padding: 15px;
	margin-left: 2vw;
}

svg {
	padding: 15px;
	/* float: right; */
}

.axis path,
.axis tick,
.axis line {
	fill: none;
	stroke: none;
}

.axis text {
	font-size: 12px;
	fill: #aaaaaa;
	font-weight: 400;
}

.legendTitle {
	font-size: 14px;
	/* fill: #4f4f4f; */
	fill: snow;
	font-weight: 300;
}

.january {
	font-size: 14px;
	text-anchor: start;
	font-weight: 500;
	/* fill: #aaaaaa; */
	fill: cyan;
}

.february {
	font-size: 14px;
	text-anchor: middle;
	font-weight: 500;
	/* fill: #aaaaaa; */
	fill: rgb(0, 255, 153);
}

.december {
	font-size: 14px;
	text-anchor: start;
	font-weight: 300;
	fill: pink;
}

.yearLine {
	stroke: #aaaaaa;
	opacity: 0.9;
}

.seasonLine {
	/* stroke: violet; */
	stroke: purple;
}

.presentLine {
	/* stroke: violet; */
	/* stroke: white; */
	stroke-width: 3px;
}

.axisText {
	fill: #c4c4c4;
	fill: hsla(259, 58%, 27%, 0.487);
	font-size: 11px;
	font-weight: 300;
	text-anchor: middle;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.axisCircles {
	fill: none;
	stroke: #e8e8e8;
	stroke-width: 1px;
}

.subtitle {
	font-size: 14px;
	fill: #aaaaaa;
	font-weight: 300;
	text-anchor: start;
}

div.card {
	margin: 15px;
	padding: 5px;
	height: 0 auto;
	display: flex;
	flex-flow: row wrap;
	border-radius: 15px;
	opacity: 0.65;
	/* float: center; */
	/* height: 60vh; */
	/* background-color: powderblue; */
	/* background-color: rgba(126, 0, 126, 0.1); */
}

.title {
	font-size: 30px;
	fill: #4f4f4f;
	font-weight: 300;
	text-anchor: start;
}

.card.title {
	padding: 10px;
	font-size: 20px;
	fill: #4f4f4f;
	font-weight: 300;
	text-anchor: start;
}

.card.subtitle {
	padding: 5px;
	font-size: 16px;
	color: purple;
	background-color: rgba(126, 0, 126, 0.1);
	display: flex;
	height: 2em;
}

.card-content {
	/* margin: 10px; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	/* align-items: flex-start; */
	/* height: 30vh; */
}

.dropdown-content li > span {
	clear: both;
	/* color: rgba(0, 0, 0, 0.87); */
}

.card.paragraph {
	/* height: 60vh; */
	/* margin: 10px; */
	background-color: rgba(126, 0, 126, 0.1);
}

.select-wrapper input.select-dropdown {
	border-bottom: none;
}

.input-field {
	text-align: center;
	color: purple;
	background-color: rgba(126, 0, 126, 0.1);
	/* float: right; */
}

.ski-season {
	margin: 5px;
	padding: 5px;
}

.card-year {
	font-size: 14px;
	font-weight: 300;
	line-height: 48px;
}
.row.desciptive-text {
	margin-top: 20px;
	margin-bottom: 0px;
	border: 3px ridge powderblue;
	/* border: 4px ridge violet; */
	border-radius: 8px;
	box-shadow: 8px 10px 15px #888888;
	/* box-shadow: 0px 0px 8px 5px rgba(126, 0, 126, 0.2); */
	background: linear-gradient(
		to bottom,
		rgb(168, 212, 255),
		/* azure, */ white,
		snow,
		powderblue
	);
}

/* .credit {
	fill: #aaaaaa;
	font-weight: 300;
	text-anchor: start;
} */

div.resources {
	margin: 15px;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	height: 7vh;
	font-size: 18px;
	margin-top: 12px;
	padding: 10px;
	border: 1px ridge rgba(126, 0, 126, 0.2);
	border-radius: 8px;
	background: rgba(35, 1, 47, 0.3);
	/* background: rgba(126, 0, 126, 0.2); */
	color: rgba(1, 218, 214, 0.509);
	color: rgba(35, 250, 246, 0.861);
	box-shadow: 0px 0px 8px 5px rgba(126, 0, 126, 0.3);
}

.card-credits {
	margin-left: 300px;
}

.desc-para {
	color: rgb(245, 245, 245);
	font-size: 12px;
}

.info {
	margin-top: -590px;
	display: flex;
	flex-flow: column wrap;
	/* justify-content: flex-start; */
}

.area {
	fill: steelblue;
	fill-opacity: 0.3;
	stroke: cyan;
	stroke-width: 2px;
}
