body {
	font-size: 10px;
	font-family: 'Operator Mono', sans-serif;
	font-weight: 400;
	/* background-color: black; */
	background-color: rgba(38, 38, 38, 0.9);
	height: 100%;
	margin: 25px;
}

#weatherRadial {
	/* background-color: snow; */
	/* background-color: rgb(187, 186, 186); */
	padding: 15px;
}

svg {
}

.title {
	font-size: 28px;
	fill: #4f4f4f;
	font-weight: 300;
	text-anchor: start;
}

.subtitle {
	font-size: 14px;
	fill: #aaaaaa;
	font-weight: 300;
	text-anchor: start;
}

.credit {
	font-size: 12px;
	fill: #aaaaaa;
	font-weight: 300;
	text-anchor: start;
}

.axis path,
.axis tick,
.axis line {
	fill: none;
	stroke: none;
}

.axis text {
	font-size: 12px;
	fill: #aaaaaa;
	font-weight: 400;
}

.legendTitle {
	font-size: 14px;
	/* fill: #4f4f4f; */
	fill: snow;
	font-weight: 300;
}

.january {
	font-size: 14px;
	text-anchor: start;
	font-weight: 500;
	/* fill: #aaaaaa; */
	fill: cyan;
}

.february {
	font-size: 14px;
	text-anchor: middle;
	font-weight: 500;
	/* fill: #aaaaaa; */
	fill: rgb(0, 255, 153);
}

.december {
	font-size: 14px;
	text-anchor: start;
	font-weight: 300;
	fill: pink;
}

.yearLine {
	stroke: #aaaaaa;
	opacity: 0.9;
}

.seasonLine {
	/* stroke: violet; */
	stroke: purple;
}

.presentLine {
	/* stroke: violet; */
	/* stroke: white; */
	stroke-width: 3px;
}

.axisText {
	fill: #c4c4c4;
	font-size: 11px;
	font-weight: 300;
	text-anchor: middle;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.axisCircles {
	fill: none;
	stroke: #e8e8e8;
	stroke-width: 1px;
}

.dropdown-content li > span {
	clear: both;
	color: rgba(0, 0, 0, 0.87);
}

.card.large {
	height: 750px;
}

.select-wrapper input.select-dropdown {
	border-bottom: none;
}

.input-field {
	/* margin-top: 0rem; */
	/* text-align: center; */
	background-color: powderblue;
	justify-content: center;
}
select {
	font-size: 30px;
	/* margin-top: 0rem; */
	/* background-color: powderblue; */
}

.card-year {
	font-size: 14px;
	font-weight: 300;
	line-height: 48px;
}
.row.desciptive-text {
	margin-top: 20px;
	margin-bottom: 0px;
	border: 1px dotted blue;
	background: linear-gradient(to right, powderblue, snow, purple);
}
.card.paragraph {
	height: 495px;
}

.desc-para {
	font-size: 16px;
}
